[workspace]
members = [
    "object-rainbow-derive",
    "object-rainbow-encrypted",
    "object-rainbow-json",
    "object-rainbow-sled",
    "object-rainbow-store",
    "xtask",
    "xtask-release",
]

[workspace.package]
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"
repository = "https://github.com/parrrate/object-rainbow"
authors = ["Alisa Feistel <alisafeistel@gmail.com>"]

[package]
name = "object-rainbow"
version = "0.0.0-a.9"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
description = "distributed object model"
documentation = "https://docs.rs/object-rainbow"
exclude = ["/.github", "/bin", "/.gitattribues", "/.gitignore", "/codegen.sh"]

[workspace.dependencies]
object-rainbow = { version = "0.0.0-a.5", path = "." }

[dependencies]
object-rainbow-derive = { version = "=0.0.0-a.5", path = "object-rainbow-derive" }

anyhow = "1.0.96"
sha2 = "0.10.8"
thiserror = "2.0.11"
typenum = { version = "1.18.0", features = ["const-generics"] }
generic-array = { version = "1.2.0", features = [] }
futures-util = { version = "0.3.31", default-features = false }

[dev-dependencies]
hex = "0.4.3"
smol = "2.0.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
