[workspace]
members = [
    "object-rainbow-derive",
    "object-rainbow-encrypted",
    "object-rainbow-fetchall",
    "object-rainbow-json",
    "object-rainbow-local-map",
    "object-rainbow-marshall",
    "object-rainbow-point",
    "object-rainbow-sled",
    "object-rainbow-store",
    "object-rainbow-store-opendal",
    "object-rainbow-trie",
    "xtask",
    "xtask-release",
]

[workspace.package]
edition = "2024"
rust-version = "1.85"
license = "MIT OR Apache-2.0"
repository = "https://github.com/parrrate/object-rainbow"
authors = ["Alisa Feistel <alisafeistel@gmail.com>"]

[package]
name = "object-rainbow"
version = "0.0.0-a.29"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
description = "distributed object model"
documentation = "https://docs.rs/object-rainbow"
exclude = ["/.github", "/bin", "/.gitattribues", "/.gitignore", "/codegen.sh"]

[workspace.dependencies]
object-rainbow = { version = "0.0.0-a.29", path = "." }
object-rainbow-fetchall = { version = "0.0.0-a.2", path = "object-rainbow-fetchall" }
object-rainbow-local-map = { version = "0.0.0-a.1", path = "object-rainbow-local-map" }
object-rainbow-point = { version = "0.0.0-a.0", path = "object-rainbow-point" }
object-rainbow-store = { version = "0.0.0-a.5", path = "object-rainbow-store" }

[dependencies]
object-rainbow-derive = { version = "=0.0.0-a.9", path = "object-rainbow-derive" }

anyhow = "1.0.96"
futures-util = { version = "0.3.31", default-features = false }
generic-array = { version = "1.2.0", features = [] }
sha2 = "0.10.8"
serde = { version = "1.0.218", optional = true, features = ["derive"] }
thiserror = "2.0.11"
typenum = { version = "1.18.0", features = ["const-generics"] }

[features]
serde = ["dep:serde"]

[dev-dependencies]
hex = "0.4.3"
smol = "2.0.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
