[workspace]
members = [
    "object-rainbow-append-tree",
    "object-rainbow-array-map",
    "object-rainbow-chain-tree",
    "object-rainbow-derive",
    "object-rainbow-encrypted",
    "object-rainbow-fetchall",
    "object-rainbow-hamt",
    "object-rainbow-history",
    "object-rainbow-history-store",
    "object-rainbow-json",
    "object-rainbow-local-map",
    "object-rainbow-marshall",
    "object-rainbow-point",
    "object-rainbow-sled",
    "object-rainbow-store",
    "object-rainbow-store-opendal",
    "object-rainbow-trie",
    "xtask",
    "xtask-release",
]

[workspace.package]
edition = "2024"
rust-version = "1.87"
license = "MIT OR Apache-2.0"
repository = "https://github.com/parrrate/object-rainbow"
authors = ["Alisa Feistel <alisafeistel@gmail.com>"]

[package]
name = "object-rainbow"
version = "0.0.0-a.42"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
description = "distributed object model"
documentation = "https://docs.rs/object-rainbow"
exclude = ["/.github", "/bin", "/.gitattribues", "/.gitignore", "/codegen.sh"]

[workspace.dependencies]
object-rainbow = { version = "0.0.0-a.42", path = "." }
object-rainbow-append-tree = { version = "0.0.0-a.9", path = "object-rainbow-append-tree" }
object-rainbow-array-map = { version = "0.0.0-a.5", path = "object-rainbow-array-map" }
object-rainbow-chain-tree = { version = "0.0.0-a.8", path = "object-rainbow-chain-tree" }
object-rainbow-fetchall = { version = "0.0.0-a.5", path = "object-rainbow-fetchall" }
object-rainbow-hamt = { version = "0.0.0-a.2", path = "object-rainbow-hamt" }
object-rainbow-history = { version = "0.0.0-a.16", path = "object-rainbow-history" }
object-rainbow-local-map = { version = "0.0.0-a.1", path = "object-rainbow-local-map" }
object-rainbow-point = { version = "0.0.0-a.5", path = "object-rainbow-point" }
object-rainbow-store = { version = "0.0.0-a.7", path = "object-rainbow-store" }
object-rainbow-store-opendal = { version = "0.0.0-a.5", path = "object-rainbow-store-opendal" }
object-rainbow-trie = { version = "0.0.0-a.11", path = "object-rainbow-trie" }

[dependencies]
object-rainbow-derive = { version = "=0.0.0-a.13", path = "object-rainbow-derive" }

anyhow = "1.0.96"
bitvec = { version = "1.0.1", default-features = false, optional = true }
futures-util = { version = "0.3.31", default-features = false }
generic-array = { version = "1.2.0" }
hex = { version = "0.4.3", optional = true }
sha2 = "0.10.8"
serde = { version = "1.0.218", optional = true, features = ["derive"] }
thiserror = "2.0.11"
typenum = { version = "1.18.0", features = ["const-generics"] }
ulid = { version = "1.2.1", default-features = false, optional = true }

[features]
bitvec = ["dep:bitvec"]
hex = ["dep:hex"]
serde = ["dep:serde"]
ulid = ["dep:ulid"]

[dev-dependencies]
hex = "0.4.3"
smol = "2.0.2"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
